.conTitle{
    margin:20px 100px;
    font-size: 40px;
    line-height: 80px;
    cursor: pointer;
}
 .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
.conMap{
    width:697px;
    height:350px;
    margin:0 auto;
    margin-bottom: 30px;
}
.conInput{
    width: 550px;
    left:150px;
}
.conInput input{
    width: 480px;
    height:50px;
    border:3px double #ddd;
    margin-bottom: 25px;
    padding-left: 20px;
    color:#aaa;
}
.conInput textarea{
    border:3px double #ddd;
    position: absolute;
    top:0;
    left: 540px;
    padding:20px;
    font-size: 18px;
    color:#aaa;
}
.conInput button{
    width: 505px;
    height: 40px;
    position: absolute;
    top:178px;
    left: 540px;
    outline:none;
    border:1px solid transparent;
}