::-webkit-input-placeholder {
    color:#aaa;
}
.register{
    width: 800px;
    margin:50px auto;
    text-indent: 10px;
    color:#aaa;
    font-size: 15px;
}
h2{
    font-size: 45px;
    color:#333;
    font-family: 'font1';
    line-height: 60px;
}
.register>span{
    color:red;
    cursor: pointer;
}
.register>span>span{
    display: none;
}
.register input[type=text],
.register input[type=password]{
    width:500px;
    height: 35px;
    border:1px solid #ccc;
    margin-top:25px;
    text-indent: 10px;
    color:#aaa;
    font-size: 15px;
}
.register input[type=text]:nth-child(8){
    margin-bottom: 25px;
}
h4{
    font-size: 35px;
    color:#333;
    font-family: 'font1';
    line-height: 60px;
    margin:20px auto;
}
.sel{
    position: relative;
    top:-10px;
}
.sel span{
    padding:0 5px;
    border-radius: 4px;
    background: #00CED1;
    text-indent: center;
    color:#fff;
    cursor: pointer;
}
.travelCity>div{
    margin-top: 10px;
}
.travelBtn{
    margin:30px 10px;
    width: 180px;
    height: 32px;
    background: #00CED1;
    text-indent: center;
    color:#fff;
    outline: none;
    border:1px solid #00CED1;
    cursor: pointer;
}
.travelBtn:hover{
    background: #888;
    border:1px solid #888;
    transition:0.6s;
}
.makesure{
    font-size: 14px;
}
.makesure1{
    text-decoration:underline;
    cursor: pointer;
}
.makesure1:hover{
    text-decoration:none;
    color:#00CED1;
    transition:0.8s;
}
.noneRed{
    color:red;
    display: none;
}