.skin{
    background-color:#e9bdc8;
    color:#fff;
    }
.border{
    border-left:6px solid #e9bdc8;
}
.font{
    color:#e9bdc8;
}
.border1{
    border:2px solid #e9bdc8;
}
.border12{
    border:3px solid #e9bdc8;
}
.border11{
    border:3px solid transparent;
}
.hover1 li:hover{
    cursor: pointer;
    background-color:#e9bdc8;
    font-weight: bold;
    border-radius: 6px;
    color:#fff;
    transition:all 0.6s;
}
/* .main11 img:hover{
    border:4px solid #e9bdc8;
    -webkit-filter:contrast(130%);
    transition:0.8s;
 }*/
 .borderM{
    border:6px solid #99ca60;
    border-bottom-color: #e9bdc8;
    border-top-color:#e9bdc8;
}
.bgC2{
    background:rgba(233,189,200,.4);
    color:#fff;
}
.content2-7:hover{
    background:#e9bdc8;
    color:#fff;
    transition:0.6s;
}
.guildBg{
    background:rgba(233,189,200,.4);
}
.guild1-3:hover,.guild1-7:hover{
    background-color:#e9bdc8;
    border-color:#fff;
    color:#fff;
    transition:0.6s;
}
.bottom2-1 a:hover{
    color:#e9bdc8;
    transition:0.4s;
    font-size: 13px;
}
.bottom2-1 h4:hover{
    color:#e9bdc8;
    transition:0.7s;
}
.bottom2-6{
    border:2px solid #e9bdc8;
}
.sBL{
    background:rgba(233,189,200,.4);
}
.tp,.tp1 p{
    border-bottom:50px solid #e9bdc8;
}
.learn span:nth-child(2){
    border-left:5px solid #e9bdc8;
}
.mainn li span:hover{
    color:#e9bdc8;
}
.img1:hover{
    border:2px solid #e9bdc8;
    -webkit-filter:contrast(130%);
    transition:0.6s;
}
.ups li:hover,.gen li:hover{
    color:#e9bdc8;
    cursor:pointer;
    margin-left: 6px;
    background: #ddd;
}

/* Checked */
.event input[type="radio"]:checked + label:after {
    content: '\2714';
    color: #e9bdc8;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.8);
}
.event input[type="radio"]:checked ~ .content-perspective:before {
    background: #e9bdc8;
}
.event input[type="radio"]:checked ~ .content-perspective .content-inner h3 {
    color: #e9bdc8;
}
.event input[type="radio"]:checked ~ .content-perspective .content {
    -webkit-transform: rotateY(-5deg);
    -moz-transform: rotateY(-5deg);
    -o-transform: rotateY(-5deg);
    -ms-transform: rotateY(-5deg);
    transform: rotateY(-5deg);
}
.event input[type="radio"]:checked ~ .content-perspective .content-inner {
    border-color: #e9bdc8;
    box-shadow: 10px 0px 10px -6px rgba(0, 0, 0, 0.1);
}
.event input[type="radio"]:checked ~ .content-perspective .content-inner p {
    max-height: 260px; /* Add media queries */
    color: rgba(0,0,0,0.6);
    -webkit-transition-delay: 0s, 0.6s;
    transition-delay: 0s, 0.6s;
}
.event input[type="radio"]:checked ~ .content-perspective .content-inner:before {
    color: #e9bdc8;
}
.event input[type="radio"]:checked ~ .thumb {
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 
        0 0 0 8px rgba(233,189,200,1), 
        0 1px 1px rgba(255,255,255,0.5);
}
.event input[type="radio"]:checked ~ .thumb span {
    color: #e9bdc8;
}
.content-inner p,.thumb span,.event label {
    -webkit-backface-visibility: hidden;
}
.hFlow li span{
    background:rgba(233,189,200,.7);
}
.designer li p:nth-child(2):hover{
    color:#e9bdc8;
    font-weight: bold;
}
#cActive{
    background: #e9bdc8;
}
.company span:hover{
    padding:0 5px;
    border-radius: 4px;
    background: rgba(233,189,200,.7);
    transition:0.4s;
    color:#fff;
}
.str a{
    color:#e9bdc8;
}
.str li img:hover{
    -webkit-filter:contrast(130%);
    transition:0.6s;
    border:4px solid #e9bdc8;
}
.content1-2-2{
    background: rgba(233,189,200,.2);
}
.mCMain ul li{
    background:rgba(233,189,200,.4);
}