/*head部分*/
.hNav{
    width: 100%;
    height: 60px; 
    padding:10px 0;
    overflow: hidden;
}
.hNav .logo{
    font-family:'chiller','font1';
    font-size: 55px;
    font-weight: 400;
    float: left;
    margin-left: 100px;
}
.hNav .logo1{
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    float: left;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 20px;
}
.hNav>ul{
    margin-top: 20px;
    margin-left: 450px;
    overflow: hidden;
}
.hNav>ul>li{
    width: 90px;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;
    margin-left:30px;
    height: 20px;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    top:0;
    left:0;
}
.hNav ul li a:link,.hNav ul li a:visited,.hNav ul li a:hover{
    color:#fff;
}
.hNav .nav-on{
    font-size: 20px;
    font-family:'font1';
}
.hNav .nav-off{
    font-size: 24px;
    font-family: 'Pacifico', cursive;
}
.hHidden{
    font-family:'chiller','font1';
    position:absolute; 
    top:82px;
    left:615px;
    font-size:28px;
    font-weight: bold;
    text-align: center;
    z-index: 999;
    border: 2px dashed #fff;
    display: none;
}
.hHidden li{
    width: 60px;
    padding:3px 0 8px;
    border-bottom: 2px dashed #fff;
    cursor: pointer;
}
.hLogIn{
    width: 340px;
    height: 175px;
    padding: 15px;
    border-radius: 4px;
    background: #fffaf6;
     box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
    color: #7e7975;
    top:100px;
    left:960px;
    z-index: 999;
    display: none;
}
.hLogIn h3{
    font-size: 15px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}
.hLogIn h3 .log-in {
    color: #6c6763;
    padding-right: 2px;
    /*text-indent: 10px;*/
}
.hLogIn h3 .sign-up {
    color: #ffb347;
    padding-left: 2px;
}
.hLogIn .float {
    /*width: 45%;*/
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,1);
}
.hLogIn .float:first-of-type {
    padding-right: 5px;
}
.hLogIn .float:last-of-type {
    padding-left: 5px;
}
.hLogIn label {
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    font-size: 11px;
}
.hLogIn input[type=text],
.hLogIn input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 145px;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.remembeMe{
    margin-left: 10px;
}
.remembeMe span{
    font-size: 12px;
    position: relative;
    top:-2px;
}
.hLogIn input[type=text]:hover,
.hLogIn input[type=password]:hover {
    border-color: #CCC;
}
.hLogIn label:hover ~ input {
    border-color: #CCC;
}
.hLogIn input[type=text]:focus,
.hLogIn input[type=password]:focus {
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}
.hLogIn input[type=submit],
.hLogIn .log-twitter {
    /* Size and position */
    width: 46%;
    height: 38px;
    float: left;
    position: relative;
    top:10px;
    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;
    /* Font styles */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 38px; /* Same as height */
    text-align: center;
    font-weight: bold;
}
.hLogIn input[type=submit] {
    margin-left: 1%;
    background: #fbd568; /* Fallback */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbd568), to(#ffb347));
    background: -webkit-linear-gradient(#fbd568, #ffb347);
    background: linear-gradient(#fbd568, #ffb347);
    border: 1px solid #f4ab4c;
    color: #996319;
    text-shadow: 0 1px rgba(255,255,255,0.3);
}
.hLogIn .log-twitter {
    margin-left: 2%;
    margin-right: 1%;
    background: #34a5cf; /* Fallback */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf), to(#2a8ac4));
    background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid #2b8bc7;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
}
.hLogIn input[type=submit]:hover,
.hLogIn .log-twitter:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.3), 
        inset 0 20px 40px rgba(255,255,255,0.15);
}
.hLogIn input[type=submit]:active,
.hLogIn .log-twitter:active{
    top: 1px;
}


/*footer部分*/

.bottom2-1{
    height: 345px;
    background-color:#2d2d2d;
    padding-top:26px;
    padding-bottom:18px;
}
.bottom2-2{
    width:178px;
    height:162px;
    float:left;
    margin-left:328px;
    margin-right:38px;
}
.bottom2-1 h4{
    line-height: 20px;
    font-size:14px;
    color:#fff;
}
.bottom2-1 span{
    font-size:12px;
    color:#fff;
}
.bottom2-1 a{
    font-size:12px;
    color:#fff;
}
.bottom2-2 p{
    padding-top:10px;
    line-height: 20px;
}
.bottom2-2 span{
    line-height:21px;
}
.bottom2-3{
    float:left;
    margin-right:20px;
}
.bottom2-4{
    float:left;
    margin-right:52px;
}
.bottom2-5{
    float:left;
    text-align:center;
}
.bottom2-5 li{
    width:90px;
    height:130px;
}
.bottom2-5 p{
    font-size: 13px;
   color:#fff;
   line-height: 20px;
}
.bottom2-5 img{
    padding-top:30px;
    width:75px;
    height:75px;
}
.bottom2-5 img:hover{
    transform:scale(1.1);
    transition:0.8s;
}
/*line*/
.bottom2-6{
    width:18px;
    float:left;
    margin-right:6px;
    margin-top:10px;
    margin-bottom:16px;
}
.bottom2-7{
    border:2px solid #313131;
    width:146px;
    float:left;
    margin-top:10px;
    margin-bottom:16px;
}
.bottom2-8{
    border:2px solid #313131;
    width:146px;
    float:left;
    margin-top:7px;
    margin-bottom:5px;
}


/*out部分*/

/*sideBarLeft部分*/

.sBL{
    width:100px;
    height:200px;
    cursor:pointer;
    top:80px;
    left:-100px;
    position:fixed;
    z-index: 50;
}
.sBL div{
    width: 100px;
    height: 40px;
    line-height: 20px;
}
.sBL span{
    font-family:'chiller','font1';
    font-size: 35px;
    line-height: 30px;
    display:block;
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin-top:65px;
    text-align:center;
    line-height:25px;
    margin-left:100px;
    position: absolute;
    font-weight: bold;
}
.sBL p{
    width: 100px;
    height: 40px;
    font-size: 13px;
    color: #fff;
    line-height: 40px;
}
.sBL div:nth-child(3){
    background: rgba(245,157,0,.6);
}
.sBL div:nth-child(4){
    background: rgba(153,202,96,.6);
}
.sBL div:nth-child(5){
    background: rgba(233,115,82,.6);
}
.sBL div:nth-child(6){
    background: rgba(0,40,100,.6);
}

/*sideBarRight部分*/

.sBRS{
    position: fixed;
    bottom:100px;
    right:10px;
    z-index: 999;
}
/*.sBRS:hover{
    transition:1s;
    transform:rotate(-18deg);
}*/
.sBRA{
    position: fixed;
    bottom:40px;
    right:10px;
    z-index: 999;
    display: none;
}